.product-detail{
    display: flex;
    flex-direction: row;
    width: 60vw;
    align-content: center;
  }

.img-col{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

.img-col img{
    width: 30vw;
}

.desc-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.desc-col h1{
  font-size: 3em;
}