/* CSS HEX
--maroon-x-11: #b8336aff;
--wisteria: #c490d1ff;
--maximum-blue-purple: #acacdeff;
--uranian-blue: #abdafcff;
--azure-x-11-web-color: #e5fcffff; */
/* CSS HEX */
:root{
--black-chocolate: #0c120cff;
--venetian-red: #c20114ff;
--nickel: #6d7275ff;
--light-gray: #c7d6d5ff;
--ghost-white: #ecebf3ff;}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
